body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,hr,
fieldset,input,p,blockquote,th,td {margin:0px; padding:0px;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:none;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
img a {border: none;}
a { text-decoration: none;}

html,body { font-family: SourceHanSansCN-Normal;}
@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url('fonts/SourceHanSansK-Medium.ttf');
}

.clear { clear:both;}
/*部分公用样式*/
.wrap { margin: 0 auto; width: 1200px;}
.wrap:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}

.pos-rlt{position: relative;}
.pos-stc{position: static !important;}
.pos-abt{position: absolute;}
.pos-fix{position: fixed;}

.show{visibility: visible;}
.line {width: 100%;height: 2px;margin: 10px 0;font-size:0;overflow: hidden;}
.line-xs{margin: 0}
.line-lg{margin-top:15px;margin-bottom: 15px}
.line-dashed{border-style: dashed !important;background-color: transparent;border-width:0;}
.no-line{border-width: 0}
.no-border, .no-borders{border-color:transparent;border-width:0}
.no-radius{border-radius: 0;}
.block{display:block;}
.hide{display: none;}
.inline{display:inline-block !important;}
.none{display: none;}
.dis-flex { display:flex;}
.pull-none{float: none;}
.rounded{border-radius: 500px;}
.clear{display:block;overflow: hidden;}
.no-bg{background-color: transparent; color: inherit;}
.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.l-h-0x{line-height: 0;}
.l-h-1x{line-height: 1.2;}
.l-h-1-6x{line-height: 1.6;}
.l-h-2x{line-height: 2em;}

.l-s-1x{letter-spacing: 1}
.l-s-2x{letter-spacing: 2}
.l-s-3x{letter-spacing: 3}

.font-normal{font-weight: normal;}
.font-thin{font-weight: 300;}
.font-bold{font-weight: 700;}

.text-u-c{text-transform: uppercase;}
.text-l-t{text-decoration: line-through;}
.text-u-l{text-decoration: underline;}
.text-c { text-align: center !important;}
.text-l { text-align: left !important;}
.text-r { text-align: right !important;}
.text-active, .active > .text, .active > .auto .text{display: none !important;}
.active > .text-active, .active > .auto .text-active{display: inline-block !important;}

.wrapper-xs{padding: 5px;}
.wrapper-sm{padding: 10px;}
.wrapper{padding: 15px;}
.wrapper-md{padding: 20px;}
.wrapper-lg{padding: 30px;}
.wrapper-xl{padding: 50px;}
.padder-lg{padding-left:30px;padding-right: 30px}
.padder-md{padding-left:20px;padding-right: 20px}
.padder{padding-left:15px;padding-right: 15px}
.padder-v{padding-top:15px;padding-bottom: 15px}
.no-padder{padding: 0 !important;}
.p-l-none{padding-bottom: 0 !important}
.pull-in{margin-left: -15px;margin-right: -15px;}
.pull-out{margin:-10px -15px;}
.p-t-none{padding-top:0 !important}


.b-l-2x{border-left-width: 2px}
.b-l-3x{border-left-width: 3px}
.b-l-4x{border-left-width: 4px}
.b-l-5x{border-left-width: 5px}

.b-2x{border-width: 2px}
.b-3x{border-width: 3px}
.b-4x{border-width: 4px}
.b-5x{border-width: 5px}

.m-xxs{margin: 2px 4px}
.m-xs{margin: 5px;}
.m-sm{margin: 10px;}
.m{margin: 15px;}
.m-md{margin: 20px;}
.m-lg{margin: 30px;}
.m-xl{margin: 50px;}
.m-n{margin: 0 !important}

.m-l-none{margin-left: 0 !important}
.m-l-xs{margin-left: 5px;}
.m-l-sm{margin-left: 10px;}
.m-l{margin-left: 15px}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-l-xl{margin-left: 40px;}
.m-l-xxl{margin-left: 50px;}

.m-l-n-xxs{margin-left: -1px}
.m-l-n-xs{margin-left: -5px}
.m-l-n-sm{margin-left: -10px}
.m-l-n{margin-left: -15px}
.m-l-n-md{margin-left: -20px}
.m-l-n-lg{margin-left: -30px}
.m-l-n-xl{margin-left: -40px}
.m-l-n-xxl{margin-left: -50px}

.m-t-none{margin-top:0 !important}
.m-t-xxs{margin-top: 1px;}
.m-t-xs{margin-top: 5px;}
.m-t-sm{margin-top: 10px;}
.m-t{margin-top: 15px}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-t-xl{margin-top: 40px;}
.m-t-xxl{margin-top: 50px;}
.m-t-btnxxl{margin-top: 85px;}

.m-t-n-xxs{margin-top: -1px}
.m-t-n-xs{margin-top: -5px}
.m-t-n-sm{margin-top: -10px}
.m-t-n{margin-top: -15px}
.m-t-n-md{margin-top: -20px}
.m-t-n-lg{margin-top: -30px}
.m-t-n-xl{margin-top: -40px}
.m-t-n-xxl{margin-top: -50px}

.m-r-none{margin-right: 0 !important}
.m-r-xxs{margin-right: 1px}
.m-r-xs{margin-right: 5px}
.m-r-sm{margin-right: 10px}
.m-r{margin-right: 15px}
.m-r-md{margin-right: 20px}
.m-r-lg{margin-right: 30px}
.m-r-xl{margin-right: 40px}
.m-r-xxl{margin-right: 50px}

.m-r-n-xxs{margin-right: -1px}
.m-r-n-xs{margin-right: -5px}
.m-r-n-sm{margin-right: -10px}
.m-r-n{margin-right: -15px}
.m-r-n-md{margin-right: -20px}
.m-r-n-lg{margin-right: -30px}
.m-r-n-xl{margin-right: -40px}
.m-r-n-xxl{margin-right: -50px}

.m-b-none{margin-bottom: 0 !important}
.m-b-xxs{margin-bottom: 1px;}
.m-b-xs{margin-bottom: 5px;}
.m-b-sm{margin-bottom: 10px;}
.m-b{margin-bottom: 15px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-b-xl{margin-bottom: 40px;}
.m-b-xxl{margin-bottom: 50px;}

.m-b-n-xxs{margin-bottom: -1px}
.m-b-n-xs{margin-bottom: -5px}
.m-b-n-sm{margin-bottom: -10px}
.m-b-n{margin-bottom: -15px}
.m-b-n-md{margin-bottom: -20px}
.m-b-n-lg{margin-bottom: -30px}
.m-b-n-xl{margin-bottom: -40px}
.m-b-n-xxl{margin-bottom: -50px}

.w-xxs{
  width: 60px;
}
.w-xs{
  width: 90px;
}
.w-ss{
  width: 100px;
}
.w-s{
  width: 110px;
}
.w-sm{
  width: 150px;
}
.w{
  width: 200px;
}
.w-md{
  width: 240px;
}
.w-lg{
  width: 280px;
}
.w-xl{
  width: 320px;
}
.w-xxl{
  width: 360px;
}
.w-xxxxl{
  width: 1100px;
}
.w-max{
  width: 1200px;
}
.w-half {
  width:50%;
}
.w-p-max{
  width: 90%;
}
.w-full{
  width: 100%;
}
.w-auto{
  width: auto;
}
.h-auto{
  height: auto;
}
.h-full{
  height: 100%;
}

.size12 { font-size: 12px;}
.size14 { font-size: 14px;}
.size16 { font-size: 16px;}
.size18 { font-size: 18px;}
.size20 { font-size: 20px;}
.size24 { font-size: 24px;}
.size30 { font-size: 30px;}
.size36 { font-size: 36px;}
.size40 { font-size: 40px;}
.size60 { font-size: 60px;}
.size80 { font-size: 80px;}

.fl { float:left;}
.fr { float:right;}

.v-top { vertical-align: top}
.v-middle {vertical-align: middle}
.modal-title2 { margin: 0; line-height: 1.42857143;}

.bg-ff { background-color: #fff;}
.bg-f7 { background-color: #f7f7f7;}

.text-gray { color: #999;}
.text-lightgray { color: #666;}
.text-darkgray { color: #333;}
.text-mainColor { color: #0c3052;}

.pointer { cursor: pointer;}

.el-message-box { width: 600px !important;}

.active { color:#0c3052; font-weight: 700;}
